In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# Create Connection
con = sqlite3.connect('Chinook_Sqlite.sqlite')

In [ ]:
# Create Cursor
cursor = con.cursor()

In [ ]:
# Create Query
album_count = """
SELECT COUNT()
FROM Album
"""

In [ ]:
# Execute Query
cursor.execute(album_count)

In [ ]:
# Return Query
count = cursor.fetchall()

In [ ]:
print(type(count))
count

In [ ]:
# Quick helper function
def return_query(query, cursor):
    cursor.execute(query)
    return cursor.fetchall()

In [ ]:
album_query = """
SELECT *
FROM Album
"""

In [ ]:
al_list = return_query(album_query, cursor)
al_list

In [ ]:
# A reminder of how to read into pandas

In [ ]:
albums_df = pd.read_sql(album_query, con)

albums_df

In [ ]:
al_list[0]

In [ ]:
al_list[0][1]

In [ ]:
# Schema!
schema_df = pd.read_sql("""

SELECT *
FROM sqlite_master

""", con)

schema_df

In [ ]:
name_list = list(schema_df[ schema_df['type'] == 'table']['name'].values)

In [ ]:
# This will create a new dataframe for each table in the database. This allows for easy exploration of the data.
# First, create the query with the format statement
# Create a temporary table with the pd.read_sql
# Create the variable name by concatenating the table name and '_df'
# Use the globals() to access the table_df name and assign the the temp df to it

for name in name_list:
    
    query = 'SELECT * from {}'.format(name)
    table_df = pd.read_sql(query, con)
    df_name=name+'_df'
    globals()[df_name]=table_df

In [ ]:
# Create a list of dataframe names
df_list = [name+'_df' for name in name_list]

In [ ]:
# Print out all the tables to provide a reference
# Please note that the exec() command is a rather powerful tool, and should be used lightly

for df in df_list:
    command = 'display({}.head())'.format(df)
    print(f'Table {df}')
    exec(command)

In [ ]:
# Create a dataframe with a count of each table and the table name

In [ ]:
# Which Customer_id has the largest number of invoices?

In [ ]:
# What Song is most often purchased

In [ ]:
# What is the average price of a track?

In [ ]:
# Which employee has the most direct reports?

In [ ]:
# In what city does the customer with the largest purchase amount live?

In [ ]:
# What country has the largest about of customers?

In [ ]:
# What is the most popular song by country?

# Who is the artist?

In [ ]:
# What is the most common artist by playlist? 

# What is the name of their most popular song?

In [ ]:
# What song is in the most playlists?

# Who is the artist?

In [ ]:
# What song is in the most playlists

# Who is the artist?

In [ ]:
# What is the most common media type by country?

In [ ]:
# What is the most common media type by purchase?

In [ ]:
# What is the average expenditure by media type by country?